.achievements span{
    background-color: var(--primary-color);
    border-radius: 10px 5px 10px 5px;
    -webkit-border-radius: 10px 5px 10px 5px;
    -moz-border-radius: 10px 5px 10px 5px;
    -ms-border-radius: 10px 5px 10px 5px;
    -o-border-radius: 10px 5px 10px 5px;
}
