@import url("https://fonts.googleapis.com/css2?family=Island+Moments&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color: #ff7e01;
  --secondary-color: #faa935;
  --heading-color: #0b2727;
  --text-color: #6e7074;
  --font-name: "Montserrat", sans-serif;
  --subtitle-font-name: "Island Moments", cursive;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .3s linear;
  -webkit-transition: .3s linear;
  -moz-transition: .3s linear;
  -ms-transition: .3s linear;
  -o-transition: .3s linear;
  text-transform: capitalize;
}

body {
  font-family: var(--font-name);
}
html,body{
  max-width: 100%;
  overflow-x: hidden;
}
section {
  padding: 50px 0px;
}
form input::placeholder {
  text-transform: capitalize;
}
form input{
  text-transform: lowercase;
}
.mainColor{
  color: var(--primary-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}
a {
  text-decoration: none !important;
  color: unset;
}
ul {
  list-style: none;
}
.primary__btn {
  background: var(--secondary-color) !important;
  border: none !important;
  border-radius: 50px !important;
  padding: 0.4rem 1.5rem !important;
}

.primary__btn a {
  font-size: 1.1rem;
  text-decoration: none;
  color: #fff !important;
}
.primary__btn a:hover {
  color: #fff !important;
}
.secondary__btn {
  background: transparent !important;
  color: #0b2727 !important;
  border: none !important;
  font-weight: 500 !important;
}
.secondary__btn a {
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--heading-color);
}

.secondary__btn a:hover {
  color: inherit;
}
.section__subtitle {
  background: var(--secondary-color);
  font-family: var(--subtitle-font-name);
  width: max-content;
  padding: 0px 0.5rem;
  padding-right: 1rem;
  border-radius: 50px;
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--heading-color);
}
.navbar-toggler:focus ,input:focus{
  box-shadow: none !important;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bgBtn{
background-color: var(--secondary-color) !important;
color: white !important;
}
.btn:hover{
  border-color: var(--secondary-color) !important;
}
.galleryImg:hover{
  transform: scale(1.06);
  -webkit-transform: scale(1.06);
  -moz-transform: scale(1.06);
  -ms-transform: scale(1.06);
  -o-transform: scale(1.06);
}
input:focus{
  outline: none;
}